.login {
  width: 100%;
  height: auto;
  min-width: 1024px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  &__navbrand {
    float: left;
    height: 50px;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
    &--fb {
      float: left;
      height: 50px;
      padding: 5px 0 5px 0;
      font-size: 18px;
      line-height: 20px;
    }
  }
  &__logo {
    width: 150px;
    height: 30px;
    float: left;
    line-height: auto;
    background: url(../../img/gjun.png) no-repeat;
    display: block;
    -o-transition: .1s linear;
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    transition: .1s linear;
  }
  &__fb {
    width: 40px;
    height: 40px;
    float: left;
    background: url(../../img/fb.png) no-repeat;
    display: block;
    -o-transition: .1s linear;
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    transition: .1s linear;
  }
  &__form {
    display: flex;
    padding-right: 30px;
  }
  &__text {
    color: #3a3a3a;
    font-size: 17px;
  }
  &__A {
    color: #adadad;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: rgba(200, 200, 200, 0.2) 0px 2px 3px inset;
    border: 1px #767676 solid;
    border-radius: 3px;
  }
}
.WRAPPER {
  display: inline-block;
}